
.slider{
 max-height:500px ;
 margin-top: 2em;
 border-radius: 15px;
}

.slider:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.btn-danger{
    background-color: hwb(0 2% 27%);
    color: #ffff;
}


