<!-- Header Begins Here -->
<header class="bg-light">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <div class="logo">
        <img src="assets/images/logo.png" height="50" width="100px" alt="" />
      </div>

      <nav>
        <ul class="nav">
          <li class="nav-item me-3 text-danger">Home</li>
          <li class="nav-item me-3 text-danger">About us</li>
          <li class="nav-item me-3 text-danger">Services</li>
          <li class="nav-item me-3 text-danger">Gallery</li>
          <li class="nav-item me-3 text-danger">Blog</li>
          <li class="nav-item me-3 text-danger">Contact Us</li>
        </ul>
      </nav>
    </div>
  </div>
</header>

<!-- The slider section begins here. -->

<section class="container">
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide
      ><img src="assets/images/room1.png" class="slider" alt=""
    /></ng-template>
    <ng-template carouselSlide
      ><img src="assets/images/room3.png" class="slider" alt=""
    /></ng-template>
    <ng-template carouselSlide
      ><img src="assets/images/room4.png" class="slider" alt=""
    /></ng-template>
    <ng-template carouselSlide
      ><img src="assets/images/room5.png" class="slider" alt=""
    /></ng-template>
  </owl-carousel-o>
</section>
<br />

<section>
  <div class="d-flex justify-content-around align-items-around">
    <div>
      <img
        src="assets/images/kitchen4.png"
        class="rounded-circle"
        width="300px"
        alt=""
      />
    </div>
    <div class="text-center flex-column rounded-3 shadow custom-box">
      <h3 class="text-danger">ABOUT US</h3>
      <p class="d-flex text-center lh-lg px-5">
        The female handbag is more than just an accessory; <br />
        it is a statement of style, personality, <br />
        and functionality. From its <br />early inception as a mere <br />
        pouch for carrying essentials to its evolution into a fashion icon,<br />
        the handbag has cemented its place as an indispensable item <br />
        in every woman's wardrobe. Historical Background <br />
        The history of the handbag
        <br />
        dates back centuries, with early versions appearing as simple <br />
        pouches worn by both men and women to carry money <br />
        and small personal items.
      </p>
      <button class="btn-danger w-25">Read More</button>
    </div>
  </div>
</section>
<br />
<br />

<!-- Footer begins here -->
<footer class="footer mt-auto p-3 bg-dark">
  <p class="text-light">Designed By TechBound</p>
</footer>

<router-outlet />
